<div class = "first_chat_area">
      <div class = "chatroom_name">チャットルーム1
      </div>
      <div class = "exit_button">
        <a href = "#">チャットを終了する</a>
      </div>
</div>

<div class = "second_chat_area">
  <div class = "top_message">
    <div class = "chat_name">Tom</div>
    <div class = "chat_timestamp">2020/03/31(Wed) 12:34:00</div>
  </div>
  <div class = "chat_contet">おはよう</div>

  <div class = "top_message">
    <div class = "chat_name">Sim</div>
    <div class = "chat_timestamp">2020/03/31(Wed) 12:34:00</div>
  </div>
  <div class = "chat_contet">Hello</div>

</div>

<%= form_with model: [@room, @message], class: "third_chat_area", local: true do |form| %>
  <div class = "message">
    <%= form.text_field :content, class: "message_box", placeholder: "type a message" %>
    <label class = "form_image">
      <span class = "image_file">画像</span>
      <%= form.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= form.submit "送信", class: "submit_button" %>
<% end %>