<div class = "top_message">
  <div class = "chat_name">
    <%= message.user.name%>
  </div>
  <div class = "chat_timestamp">
    <%= message.created_at%>
  </div>
</div>
<div class = "chat_contet">
  <%= message.content %>
</div>