<div class = "first_side_bar">
  <div class = "user_name">
    <a href = "#">サイドバー1</a>
  </div>
  <div class = "make_chat_button">
    <a href = "#">チャットを作成する</a>
  </div>
</div>

<div class = "second_side_bar">
  <div class = "room">
    <div class = "chat_room">
      <a href = "#">チャットルーム1</a>
    </div>
  </div>
  <div class = "room">
    <div class = "chat_room">
      <a href = "#">チャットルーム2</a>
    </div>
 </div>
</div>